<h1>Stupid Coaching</h1>
<div class="main-container">
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" id="input">
    <input type="submit" value="Ask!" id="ask">
  </form>
</div>
